//DEFAULT STYLE//
.top-line{
	position: relative;
	@include clearfix;
	&__logo{
		display: inline-block;
		@include MQ(sm) {
			
		}
		@include MQ(xs) {
			display: block;
			float: none;
			text-align: center;
			margin-left: 0;
			margin-top: 15px;
		}
	}
	&__shop{
		display: block;
		font-size: 16px;
		background: #ff435b;
		color: #fff;
		text-align: center;
		padding: 10px 15px;
		border-radius: 30px;
		margin: 20px 0;
		@include MQ(sm) {
			margin-right: 10px;
		}
		@include MQ(xs) {
			float: none;
			font-size: 1em;
			margin-right: 0;
		}
		&:hover{
			color: #fff;
			background: #de3b50;
		}
	}
}

.top-banner{
	position: relative;
	&__img{
		display: block;
		margin: 0 auto;
		text-align: center;
	}
}

.top-banner-desc{
	display: block;
}

.top-banner-mob{
	display: none;
}

.header{
	position: relative;
}

.header__banner{
	display: block;
	margin: 0 auto;
}

.header__title{
	font-size: 66px;
	color:#fff;
	font-weight: bold;
	text-transform: uppercase;
}

.title{
	font-family: 'pixel_cyrnormal', 'Roboto', sans-serif;
	font-size: em($h1FZ);
	line-height: 1.2;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 40px;
}

.sub-title{
	font-size: 38px;
	color: #fff;
	text-align: center;
	font-family: 'pixel_cyrnormal', 'Roboto', sans-serif;
	text-transform: uppercase;
}

.text-desc{
	font-size: 20px;
	color: #fff;
	text-align: center;
	margin: 30px 0 100px 0;
}

.form{
	margin-bottom: 80px;
	&-field{
		display: flex;
		justify-content: space-between;
		margin-top: 1.5rem;
		position: relative;
		&-btn{
				&:after{
				content: "";
				display: block;
				width: 9px;
				height: 43px;
				background: #ff526a;
				position: absolute;
				left: 0;
				top: 10px;
			}
			&:before{
				content: "";
				display: block;
				width: 9px;
				height: 43px;
				background: #ff526a;
				position: absolute;
				right: 0;
				top: 10px;
			}
		}
	}
	&-input{
		background: #fff;
		height: 60px;
		color: #606060;
		width: 100%;
		text-align: center;
		font-size: 18px;
	}
	&-btn{
		background: #ff526a;
		height: 60px;
		color: #fff;
		font-size: 18px;
		text-align: center;
		position: relative;
		border: none;
		display: block;
		width: 96%;
		margin: 0 auto;
		cursor: pointer;
	}
	&-checkbox{
		&__input{
			margin-right: 5px;
		}

		&__text{
			font-size: 11px;
			font-weight: 300;
			color: #989797;
			display: inline;
			vertical-align: middle;
			cursor: pointer;
		}
	}
}

input[type=checkbox]:checked{
	outline: none;
}
input[type=checkbox]:focus{
	outline: none;
}
::-webkit-input-placeholder {
	color: #606060;
	text-align: center;
}

ul.countdown {
	list-style: none;
	margin: 50px 0;
	padding: 0;
	display: block;
	text-align: center;
}
ul.countdown li {
	display: inline-block;
}
ul.countdown li span {
	font-size: 90px;
	line-height: 90px;
	color: #ff526a;
	font-family: 'pixel_cyrnormal', 'Roboto', sans-serif;
}
ul.countdown li.seperator {
	font-size: 90px;
	line-height: 90px;
	vertical-align: top;
	color: #ff526a;
}
ul.countdown li p {
	color: #ff526a;
	font-size: 24px;
	font-family: 'pixel_cyrnormal', 'Roboto', sans-serif;
}